<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=1024">
        <title> IBM Watson Recommendation Engine</title>
        <link type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet">
        <script src="https://cdn.plot.ly/plotly-latest.js" charset="utf-8"></script>
</head>
<body>
    <nav><a href="/">Recommendation Engine</a></nav>

    <section id="recommendation">
            <h2>Get Recommendations</h2>
            <form action="/recommendations" method="get">
                <input type="number" name="num_recs" min="1" max="100" placeholder="# of Desired Recommendations">
                <input type="number" name="user_id" placeholder="User ID (if any)">
                <button type="submit" style="margin-top:1rem">Recommend Articles</button>
            </form>
    </section>
        
    <article>
        {% block content %}
            <h2>Dataset Overview</h2>
        {% endblock %}

        {% for id in ids %}
            <section id="{{id}}"></section>
        {% endfor %}
    </article>

    <footer>
        <ul>
            <li><a href="https://www.ibm.com/watson/">IBM Watson</a></li>
            <li><a href="https://www.udacity.com/course/data-scientist-nanodegree--nd025">In Collaboration With Udacity</a></li>
            <li><a href="https://github.com/mkucz95">Mati Kucz</a></li>
        </ul>
    </footer>
</body>

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs){
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>
</html>