<!doctype html>
<html lang="en">
<head>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=1024">
        <title>Movie Recommendation Engine</title>
        <link type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
</head>
<body>
    <nav><a href="/"> Recommendation Engine - IBM Watson</a></nav>


    <article id="data_overview">
        {% block content %}
            <h2>Dataset Overview</h2>
        {% endblock %}

        {% for id in ids %}
            <section id="{{id}}"></section>
        {% endfor %}
    </article>

    <footer>
        <ul>
            <li><a href="https://www.ibm.com/watson/">IBM Watson</a></li>
            <li><a href="https://www.udacity.com/course/data-scientist-nanodegree--nd025">In Collaboration With Udacity</a></li>
            <li><a href="https://github.com/mkucz95">Contact</a></li>
        </ul>
    </footer>

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>

</body>
</html>